#s1 { 
    background:linear-gradient(#e66465, #9198e5);
    text-align:center;
}
#dragon {
    width:40%
}
#gif {
    width:40%;
}
#s2 {
    text-align:center;
    background:linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%),
            linear-gradient(127deg, rgba(0,255,0,.8), rgba(0,255,0,0) 70.71%),
            linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);
}
p {
    color:white;
    font-family:cursive;
}
span {
    font-family: fantasy;
}
.menu {
    list-style:none;
    font-family:sans-serif;
    float:left;
    top:10px;
    right:30px;
    cursor:pointer;
    color:white;
    font-size:20px;
}
#reviews {
    text-align:center;
    background: hsla(0, 100%, 50%, 1);

background: linear-gradient(90deg, hsla(0, 100%, 50%, 1) 11%, hsla(18, 83%, 55%, 1) 33%, hsla(38, 93%, 47%, 1) 52%, hsla(43, 95%, 49%, 1) 75%, hsla(161, 98%, 52%, 1) 92%);

background: -moz-linear-gradient(90deg, hsla(0, 100%, 50%, 1) 11%, hsla(18, 83%, 55%, 1) 33%, hsla(38, 93%, 47%, 1) 52%, hsla(43, 95%, 49%, 1) 75%, hsla(161, 98%, 52%, 1) 92%);

background: -webkit-linear-gradient(90deg, hsla(0, 100%, 50%, 1) 11%, hsla(18, 83%, 55%, 1) 33%, hsla(38, 93%, 47%, 1) 52%, hsla(43, 95%, 49%, 1) 75%, hsla(161, 98%, 52%, 1) 92%);

filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#FF0000", endColorstr="#EC682F", GradientType=1 );
}
#work {
    text-align: center;
    background: hsla(171, 100%, 50%, 1);

background: linear-gradient(90deg, hsla(171, 100%, 50%, 1) 12%, hsla(209, 62%, 75%, 1) 24%, hsla(269, 84%, 56%, 1) 41%, hsla(302, 93%, 47%, 1) 61%, hsla(329, 96%, 48%, 1) 80%, hsla(354, 98%, 51%, 1) 92%);

background: -moz-linear-gradient(90deg, hsla(171, 100%, 50%, 1) 12%, hsla(209, 62%, 75%, 1) 24%, hsla(269, 84%, 56%, 1) 41%, hsla(302, 93%, 47%, 1) 61%, hsla(329, 96%, 48%, 1) 80%, hsla(354, 98%, 51%, 1) 92%);

background: -webkit-linear-gradient(90deg, hsla(171, 100%, 50%, 1) 12%, hsla(209, 62%, 75%, 1) 24%, hsla(269, 84%, 56%, 1) 41%, hsla(302, 93%, 47%, 1) 61%, hsla(329, 96%, 48%, 1) 80%, hsla(354, 98%, 51%, 1) 92%);

filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#00FFD9", endColorstr="#99C1E7", GradientType=1 );
}
html {
    scroll-behavior: smooth;
}